html{
    background-color:#f5f5dd;
}
header {
    height: 90px;
    background-color: #C1EAFD;
    margin-bottom:10px;
}
.header_box{
    margin: 0 auto;
    width: 960px;
}
.header_menu{
    display:inline;
    float:right;
    margin:30px 5px;
}
.header_spe{
    border-right:solid 1px black;
    padding-left:5px;
    padding-right:10px;
}
.header_link{
    color:black;
    text-decoration:none;
}
footer{
    background-color:#C1EAFD;
    border-top:solid 1px #cccccc;
}
.foot_all{
    width:520px;
    margin:0 auto;
    padding-bottom:15px;
}
.content{
    margin:0 auto;
    width: 960px;
}
.footer_img{
    text-align:center
}
.foot_link{
    color:black;
    text-decoration:none;
}
.login_content{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:center;
}
.blue{
    color:blue;
}
.red{
    color:red;
}
.like_table{
    border:solid 1px black;
    border-collapse: collapse;
    width:800px;
    margin:0 auto;
}
.like_table_th,.like_table_td,.like_table_tr{
    border:solid 1px black;
    text-align:center;
}
#like_spot_map_box {
    width: 960px;
    height: 400px;
    margin-top:20px;
    margin-bottom:20px;
}
#map_page_map_box{
    width: 960px;
    height: 400px;
    margin-top:20px;
    margin-bottom:20px;
}
#create_route{
    background-color:#FF8A00;
    margin:0 auto;
    width: 260px;
    height: 40px;
    text-align:center;
    padding:5px;
    border:1px solid #FF8A00;
    border-radius:20px;
}
#route_text_content{
    display: none; 
    width:100%;
    margin:0 auto;
    padding-top:20px;
}
.like_table_content{
    margin-bottom:20px;
}
.like_page_circle{
    border:1px solid black;
    background-color:black;
    width: 12px;
    height:12px;
    border-radius:9px;
    margin-bottom:30px;
}
.like_space{
    width:60px;
}
.like_sport_img{
    width:225px;
}

.search_key{
    width: 300px;
    background-color: #C1EAFD;
    text-align:center;
    margin:100px auto;
    padding: 15px;
}

.search_keyword{
  box-sizing: border-box;
}
.search_keyword input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
}
.search_keyword input[type="text"]:focus {
  outline: 0;
}
.search_keyword input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}
#add_spot_content{
    width: 300px;
}
.add_spot_key{
    border-bottom:double 5px #C1EAFD;
    height:20px;
}
#detail_h2{
    text-align: center;
    margin: 20px auto;
    color: #777777;
}
#detail_page_map_box{
    width: 400px;
    height: 400px;
    margin: 0px 40px 40px 40px;
    float: left;
}
.detail_img{
    width: 400px;
    float: left;
}
.detail_business_img{
    width: 300px;
    margin-left: 100px;
}
.detail_table{
    border-bottom: solid 6px #aac5de;
    border-top: solid 1px#aac5de;
    border-radius: 20px;
    margin: 20px auto;
    padding: 6px;
    color: #5989cf;
    background-color: #c6e4ff;
    clear: both;
}
.detail_table th{
    width: 15%;
    padding: 6px;
}
.return_link{
    padding: 4px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #aac5de 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #5989cf;
	font-weight: bold;
}
.return_link:hover {
	background-position: -100% 0;
	color: #fff;
}
.return_div{
    margin: 10px 0px 20px 0px;
    text-align: center;
}
#map_h3{
    text-align: center;
    margin: 50px auto 20px auto;
    color: #777777;
}
.list_scroll{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 1000px;
}
.map_page_table{
    border: 1px solid #777777;
    border-collapse: collapse;
    table-layout: fixed;
}
.map_page_table th{
    padding: 8px;
    border: 1px solid #777777;
    white-space: nowrap;
}
.map_page_table td{
    border: 1px solid #777777;
}
.map_page_location_id{
    text-align: center;
}
.map_page_spot_name{
    width: 120px;
    text-align: center;
}
.map_page_img{
    width: 300px;
}
.map_page_table_text{
    width: 200px;
}
#popup_layer{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.20;
}
#map_page_popup{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    opacity: 0.20;
}