body{
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

.logo{
    float:left;
    padding-left:20px;
    padding-top:20px;
    width:200px;
}
header {
    height: 90px;
    background-color: #EC5528;
    margin-bottom: 1px;
}
.header_box{
    margin: 0 auto;
    width: 100%;
}
footer{
    background-color:#CCCCCC;
    border-top:solid 1px #cccccc;
}
.foot_all{
    width:520px;
    margin:0 auto;
    padding-bottom:15px;
}
.content,.main_content{
    margin:0 auto;
    width: 960px;
    background-color: #EEEEEE;
}
.foot_link{
    color:black;
    text-decoration:none;
}


/* .title{
     text-align:center;
 } */
.main{
    text-align:center;
}
 .title_logo{
      width:40%;
 }
.main_comment {
     margin-left:100px;
     margin-right:100px;
     margin-top:20px;
     margin-bottom:20px;
 }
 .spot{
     display:flex;
 }
        .spot1{
            border:solid 1px #EC5528;
            background-color:#FFCC66;
            border-radius:20px;
            margin-left:50px;
            margin-right:50px;
            margin-top:20px;
            margin-bottom:20px;
            flex:1;
        }
        .spot1_1{
               display:flex;
               margin:20px;
        }
            .spot1_image1{
                   width:150px;
                   margin: auto;
            }
            .spot1_2{
                   display:flex;
                   margin:20px;
            }
            .spot1_image2{
                   width:150px;
                   margin: auto;
            }
        .spot2{
            border:solid 1px #EC5528;
            background-color:#FFCC66;
            border-radius:20px;
            margin-left:50px;
            margin-right:50px;
            margin-top:20px;
            margin-bottom:20px;
            flex:1;
        }
           .spot2_1{
               display:flex;
               margin:20px;
            }
            .spot2_image1{
                   width:150px;
                   margin: auto;
            }
            .spot2_2{
                   display:flex;
                   margin:20px;
            }
            .spot2_image2{
                   width:150px;
                   margin: auto;
            }
            h3{
                text-align:center;
                margin:10px;
            }
            .epilog{
                text-align:center;
                font-size:15px;
                margin:10px;
            }
h1{
    text-align:center;
}
    .guide{
        width:400px;
    }
    .guide_image{
        text-align:center;
    }
.access{
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:50px;
    padding-right:50px;
    border:solid 1px #EC5528;
    background-color:#EC5528;
    border-radius:10px;
    color:white;
}
    .access_image{
        text-align:center;
    }
h2{
    text-align:center;
}